$color-graphite: #e2e2e2;
$color-graphite-dark: #e1e1e1;
$color-graphite-darken: #838b8c;
$color-active-link: #ffac55;
$white: #fff;
$dark-blue: #03b6e7;
$light-blue: #48c6ec;
$bg-footer-dark: #262829;
$bg-input: #323334;
$color-input: #5e5e5e;
$eco: #16d428;
$gold-plan-color: #55db77;
$color-border-consult: #7cddf7;
$color-placeholder-consult: #d5f6ff;
$bg-point-section: #e6eff1;

$color-gamma: #385da5 , #00b5da, #d4c5a8, #1883bb, #e4463b;

$i: 0;